@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next {
  right: 0.5px;
}

.slick-prev {
  right: 70.5px;
}

@media screen and (min-width: 1200px) {
  .slick-prev {
    right: -69.5px;
  }
  
  .slick-next {
    right: -139.5px;
  }
}

.slick-prev::before {
  content: url("/icon-angle-left.svg");
}

.slick-next::before {
  content: url("/icon-angle-right.svg");
}

.slick-prev, .slick-next {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 1;
  bottom: -35px;
  top: auto;
  left: auto;
  z-index: 5;
  transition: all 300ms ease;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: none;
  background-color: rgb(69, 69, 69);
  transition: all 300ms ease;
}